.edit-annotation {
    margin-left: 1.5rem;
}

.edit-annotation__save-button {
    margin-top: 2rem;
    margin-right: 2rem;
}

.edit-annotation__remove-button {
    margin-top: 2rem;
    margin-right: 2rem;
}